---
import { Language, SenseRelation } from "@anglish/core";
import { db, getWordsByLemmaId } from "@anglish/db";
import Layout from "~/layouts/Layout.astro";
import { readablePos, slugify } from "~/lib/util";

export async function getStaticPaths() {
  const lemmas = await db.kysely
    .selectFrom("lemma")
    .select([
      "lemma.id",
      "lemma.lemma",
    ])
    .distinctOn("lemma.lemma")
    .offset(20000)
    .limit(100)
    .execute();

    return lemmas.map(lemma => ({ params: { lemma: slugify(lemma.lemma) }, props: { lemmaId: lemma.id } }));
}

const lemmaId = Astro.props.lemmaId;
const words = await getWordsByLemmaId(lemmaId);
const lang = words[0].lang;

function getSenseRelationText(relation: SenseRelation): string {
  switch (relation) {
    case SenseRelation.Agent:
      return "Agent:";
    case SenseRelation.Also:
      return "See also:";
    case SenseRelation.Antonym:
      return "Antonym:";
    case SenseRelation.BodyPart:
      return "Body part:";
    case SenseRelation.ByMeansOf:
      return "By means of:";
    case SenseRelation.Derivation:
      return "Derived from:";
    case SenseRelation.Destination:
      return "Destination:";
    case SenseRelation.Event:
      return "Event:";
    case SenseRelation.Exemplifies:
      return "Exemplifies:";
    case SenseRelation.Instrument:
      return "Instrument:";
    case SenseRelation.Location:
      return "Location:";
    case SenseRelation.Material:
      return "Material:";
    case SenseRelation.Participle:
      return "Participle:";
    case SenseRelation.Pertainym:
      return "Pertainym:";
    case SenseRelation.Property:
      return "Property:";
    case SenseRelation.Result:
      return "Result:";
    case SenseRelation.Similar:
      return "Similar:";
    case SenseRelation.State:
      return "State:";
    case SenseRelation.Undergoer:
      return "Undergoer:";
    case SenseRelation.Uses:
      return "Uses:";
    case SenseRelation.Vehicle:
      return "Vehicle:";
    default:
      return "Relation:";
  }
}
---

<Layout>
  <main class="min-h-[calc(100vh-var(--spacing-nav))] flex flex-col items-center py-12">
    <div class:list={[
      lang === Language.Anglish ? "font-display text-7xl" : "font-serif text-7xl",
]}
    >{words[0].lemma}</div>

    <div class="mt-4 w-full max-w-3xl">
      {words.map(({ pos, senses }) => (
        <section class="mb-8">
          <h2 class="text-2xl font-semibold text-gray-800">{readablePos(pos)}</h2>
          <div class="mt-4 space-y-3">
            {senses.map(({ gloss, synonyms_en, synonyms_an, relations }, i) => (
              <div class="flex items-start">
                <div class="pr-2 pt-px font-bold">{i + 1}.</div>
                <div class="">
                  <div class="text-lg leading-snug text-gray-700">{gloss}</div>
                  <div class="flex flex-wrap gap-x-1.5 pt-1 text-lg italic">
                    {synonyms_an.map(synonym => (
                      <a
                        href={`/word/${slugify(synonym.lemma)}`}
                        class="text-orange-600"
                      >
                        {synonym.lemma}
                      </a>
                    ))}
                    {synonyms_en.map(synonym => (
                      <a
                        href={`/word/${slugify(synonym.lemma)}`}
                        class="text-blue-700"
                      >
                        {synonym.lemma}
                      </a>
                    ))}
                  </div>
                  <div class="flex flex-wrap gap-x-1.5 pt-1 text-lg italic"></div>
                    {Object.entries(relations).map(([relation, items]) => (
                      <div class="text-gray-500 flex gap-2 italic">
                        <div>{getSenseRelationText(relation as SenseRelation)}</div>
                        {items.map(item => (
                          <a
                            href={`/word/${slugify(item.lemma)}`}
                            class:list={[
                              item.lang === Language.Anglish ? "text-orange-600" : "text-blue-700",
                            ]}
                          >
                            {item.lemma}
                          </a>
                        ))}
                      </div>
                    ))}
                  </div>
              </div>
            ))}
          </div>
        </section>
      ))}
    </div>
  </main>
</Layout>
